Repository scroll-tech/zkvm-prover, pull requests merged in 2025-08, with the labels that each got.

#154 rename: leaf->vm; root->stark;
  .dockerignore
  Cargo.lock
  Cargo.toml
  crates/build-guest/src/main.rs
  crates/circuits/batch-circuit/src/circuit.rs
  crates/circuits/bundle-circuit/src/circuit.rs
  crates/integration/src/lib.rs
  crates/integration/tests/batch_circuit.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/Cargo.toml
  crates/prover/src/prover/mod.rs
  crates/types/base/src/aggregation.rs
  crates/types/circuit/src/lib.rs
  crates/types/src/proof.rs
  crates/types/src/task.rs
  crates/verifier/src/verifier.rs
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-integration, crate-build-guest, crate-circuits

#150 add build releases workflow
  .github/workflows/build-guest-release.yml
Labels: ci

#167 [FEAT] Starkproof carry stats
  crates/prover/src/prover/mod.rs
  crates/types/src/proof.rs
Labels: crate-prover

#170 metric: add proving time
  Makefile
  crates/prover/src/prover/mod.rs
  crates/types/src/proof.rs
  download-release.sh
Labels: crate-prover

#173 feat: add flamegraph
  Cargo.lock
  Cargo.toml
  crates/integration/Cargo.toml
  crates/integration/src/bin/chunk-benchmark.rs
  crates/integration/src/lib.rs
  crates/integration/tests/batch_circuit.rs
  crates/integration/tests/bundle_circuit.rs
  crates/integration/tests/chunk_circuit.rs
Labels: crate-integration
