Repository scroll-tech/zkvm-prover, pull requests merged in 2025-06, with the labels that each got.

#112 v0.4.2: fix a plonky3 soundness issue
  Cargo.lock
  Cargo.toml
  Makefile
  crates/build-guest/Cargo.toml
  crates/circuits/batch-circuit/batch_exe_commit.rs
  crates/circuits/batch-circuit/batch_leaf_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_euclidv1_commit.rs
  crates/circuits/bundle-circuit/bundle_leaf_commit.rs
  crates/circuits/bundle-circuit/digest_1
  crates/circuits/bundle-circuit/digest_1_euclidv1
  crates/circuits/bundle-circuit/digest_2
  crates/circuits/chunk-circuit/chunk_leaf_commit.rs
  crates/integration/Cargo.toml
  crates/integration/tests/onchain_verifier.rs
  scripts/20250508-p3.sh
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-integration, crate-build-guest, crate-circuits

#124 Refactor/scroll 3
  crates/prover/src/prover/mod.rs
  crates/prover/src/task/mod.rs
  crates/types/src/task.rs
Labels: crate-prover

#125 feat: add environ API and block commit
  Cargo.lock
  crates/circuits/batch-circuit/src/circuit.rs
  crates/circuits/bundle-circuit/src/circuit.rs
  crates/circuits/chunk-circuit/src/circuit.rs
  crates/integration/Cargo.toml
  crates/integration/tests/chunk_circuit.rs
  crates/prover/src/task/batch.rs
  crates/prover/src/task/bundle.rs
  crates/prover/src/task/chunk.rs
  crates/prover/src/task/mod.rs
  crates/types/base/Cargo.toml
  crates/types/base/src/environ.rs
  crates/types/base/src/lib.rs
  crates/types/base/src/public_inputs/chunk.rs
  crates/types/chunk/src/execute.rs
  crates/types/chunk/src/lib.rs
  crates/types/chunk/src/utils.rs
  crates/types/circuit/src/lib.rs
  crates/types/src/lib.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-integration, crate-circuits

#127 codec@v8 and BundleInfo@v3
  crates/circuits/bundle-circuit/src/circuit.rs
  crates/circuits/bundle-circuit/src/main.rs
  crates/integration/src/utils/mod.rs
  crates/prover/src/task/batch.rs
  crates/types/base/src/public_inputs.rs
  crates/types/base/src/public_inputs/bundle.rs
  crates/types/batch/src/builder/mod.rs
  crates/types/batch/src/builder/v6.rs
  crates/types/batch/src/builder/v7.rs
  crates/types/batch/src/builder/v8.rs
  crates/types/batch/src/header/mod.rs
  crates/types/batch/src/header/v6.rs
  crates/types/batch/src/header/v7.rs
  crates/types/batch/src/header/v8.rs
  crates/types/batch/src/lib.rs
  crates/types/batch/src/payload/mod.rs
  crates/types/batch/src/payload/v6.rs
  crates/types/batch/src/payload/v7.rs
  crates/types/batch/src/payload/v8.rs
  crates/types/batch/src/witness.rs
  crates/types/chunk/src/execute.rs
Labels: crate-bundle-circuit, crate-prover, crate-integration, crate-circuits
