Repository scroll-tech/zkvm-prover, pull requests merged in 2025-03, with the labels that each got.

#51 fix: correctly set paths_ignore
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Labels: ci

#52 add codeowners
  .github/CODEOWNERS
Labels: ci

#54 Print `total_cycles` in PR description
  .github/workflows/build-guest.yml
  .github/workflows/profile-guest.yml
  Makefile
  crates/integration/src/lib.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/src/prover/mod.rs
Labels: crate-prover, crate-integration, ci

#55 bump revm/reth/sbv/openvm version; work with gpu
  .github/workflows/build-guest.yml
  Cargo.lock
  Cargo.toml
  build-guest.sh
  crates/circuits/batch-circuit/openvm.toml
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/openvm.toml
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/chunk-circuit/openvm.toml
  crates/circuits/chunk-circuit/src/circuit.rs
  crates/circuits/chunk-circuit/src/execute.rs
  crates/integration/src/lib.rs
  crates/integration/testdata/12508460.json
  crates/integration/testdata/12508461.json
  crates/integration/testdata/12508462.json
  crates/integration/testdata/12508463.json
  crates/integration/tests/batch_circuit.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/prover/batch.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/prover/chunk.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-integration, crate-circuits, ci

#57 feat: dedup
  crates/circuits/types/src/chunk/witness.rs
  crates/prover/src/prover/chunk.rs
Labels: crate-prover, crate-circuits

#59 Feat: set leaf level fri log blowup to one (0.1.0-rc.6)
  crates/build-guest/src/verifier/mod.rs
  crates/circuits/batch-circuit/openvm.toml
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/openvm.toml
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/chunk-circuit/openvm.toml
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/prover/batch.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/prover/chunk.rs
  crates/prover/src/prover/mod.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-build-guest, crate-circuits

#60 Feat: set leaf level's FRI log blowup to one (0.1.1-rc.2)
  crates/build-guest/src/verifier/mod.rs
  crates/circuits/batch-circuit/openvm.toml
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/openvm.toml
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/chunk-circuit/openvm.toml
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/prover/mod.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-build-guest, crate-circuits

#65 FIX: bump sbv
  Cargo.lock
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-circuits

#69 `0.1.1-rc.2` bump `sbv`
  Cargo.lock
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-circuits

#70 Sanity check for commitment in verifier
  .gitignore
  Cargo.lock
  crates/verifier/Cargo.toml
  crates/verifier/src/evm.rs
  crates/verifier/src/verifier.rs
  crates/verifier/testdata/proofs/batch-proof.json
  crates/verifier/testdata/proofs/chunk-proof.json
  crates/verifier/testdata/proofs/evm-proof.json
  download-release.sh
Labels: crate-verifier

#75 [refactor] Always check program commitment in each proof generation
  crates/integration/tests/bundle_circuit.rs
  crates/prover/src/prover/mod.rs
  crates/verifier/src/verifier.rs
Labels: crate-prover, crate-verifier, crate-integration

#79 Export `ProverConfig`
  crates/prover/src/lib.rs
Labels: crate-prover

#80 feat: refactor exec_guest, tested with a 88M gas chunk
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/integration/src/testers/chunk.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/prover/mod.rs
  crates/prover/src/utils.rs
  crates/prover/src/utils/vm.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-integration, crate-circuits

#83 update openvm: finally a version without any known issues.
  Cargo.lock
  Cargo.toml
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/prover/Cargo.toml
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/proof/mod.rs
  crates/prover/src/prover/mod.rs
  crates/prover/src/setup.rs
  crates/verifier/Cargo.toml
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/chunk.rs
  crates/verifier/src/verifier.rs
  scripts/update-openvm.sh
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-circuits

#85 Cleanup, Fixes, Refactoring
  build-guest.sh
  crates/circuits/batch-circuit/src/blob_consistency/mod.rs
  crates/circuits/batch-circuit/src/builder/mod.rs
  crates/circuits/batch-circuit/src/builder/v3.rs
  crates/circuits/batch-circuit/src/child_commitments_legacy.rs
  crates/circuits/batch-circuit/src/circuit.rs
  crates/circuits/batch-circuit/src/main.rs
  crates/circuits/batch-circuit/src/payload/mod.rs
  crates/circuits/batch-circuit/src/payload/v3.rs
  crates/circuits/batch-circuit/src/payload/v7.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments_legacy.rs
  crates/circuits/bundle-circuit/src/circuit.rs
  crates/circuits/bundle-circuit/src/main.rs
  crates/circuits/types/src/batch/payload/v3.rs
  crates/circuits/types/src/lib.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/batch_legacy.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/bundle_legacy.rs
  crates/prover/src/commitments/chunk_legacy.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/batch_legacy.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/bundle_legacy.rs
  crates/verifier/src/commitments/chunk_legacy.rs
  crates/verifier/src/lib.rs
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-circuits

#87 [Fix] for phase1 rc9
  Makefile
  crates/circuits/types/src/bundle/public_inputs.rs
  crates/integration/src/testers/bundle.rs
  crates/integration/testdata/batch-task.json
  crates/integration/testdata/bundle-task.json
  crates/integration/tests/bundle_circuit.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/task/bundle.rs
Labels: crate-prover, crate-integration, crate-circuits

#94 Feat: Extend `ProverConfig`
  crates/integration/src/lib.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/src/prover/mod.rs
Labels: crate-prover, crate-integration

#97 upgrade openvm
  Cargo.lock
  Cargo.toml
  crates/build-guest/src/main.rs
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/batch-circuit/src/child_commitments_legacy.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments_legacy.rs
  crates/circuits/types/src/lib.rs
  crates/integration/tests/bundle_circuit.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/batch_legacy.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/bundle_legacy.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/commitments/chunk_legacy.rs
  crates/prover/src/proof/mod.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/prover/mod.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/batch_legacy.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/bundle_legacy.rs
  crates/verifier/src/commitments/chunk.rs
  crates/verifier/src/commitments/chunk_legacy.rs
  crates/verifier/src/evm.rs
  crates/verifier/src/verifier.rs
  scripts/update-openvm.sh
Labels: crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-integration, crate-build-guest, crate-circuits

#89 [DON'T MERGE] Feat: stable `phase2`
  Cargo.lock
  Cargo.toml
  Makefile
  crates/circuits/batch-circuit/src/child_commitments.rs
  crates/circuits/batch-circuit/src/child_commitments_legacy.rs
  crates/circuits/bundle-circuit/src/child_commitments.rs
  crates/circuits/bundle-circuit/src/child_commitments_legacy.rs
  crates/circuits/types/src/bundle/public_inputs.rs
  crates/circuits/types/src/lib.rs
  crates/integration/tests/bundle_circuit.rs
  crates/prover/src/commitments/batch.rs
  crates/prover/src/commitments/batch_legacy.rs
  crates/prover/src/commitments/bundle.rs
  crates/prover/src/commitments/bundle_legacy.rs
  crates/prover/src/commitments/chunk.rs
  crates/prover/src/commitments/chunk_legacy.rs
  crates/prover/src/proof/mod.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/prover/mod.rs
  crates/verifier/src/commitments/batch.rs
  crates/verifier/src/commitments/batch_legacy.rs
  crates/verifier/src/commitments/bundle.rs
  crates/verifier/src/commitments/bundle_legacy.rs
  crates/verifier/src/commitments/chunk.rs
  crates/verifier/src/commitments/chunk_legacy.rs
  crates/verifier/src/evm.rs
  crates/verifier/src/verifier.rs
  scripts/update-openvm.sh
Labels: crate-integration, crate-build-guest, crate-circuits

#88 Update the comment for kzg g2 setup
  crates/circuits/batch-circuit/src/blob_consistency/openvm.rs
Labels: crate-batch-circuit, crate-circuits

#98 Phase-2 audit fixes
  .github/workflows/build-guest.yml
  .github/workflows/lint.yml
  .github/workflows/profile-guest.yml
Labels: ci

#102 [Feat] sanity check for pi while generating proof
  crates/circuits/types/src/batch/public_inputs.rs
  crates/circuits/types/src/bundle/public_inputs.rs
  crates/circuits/types/src/chunk/mod.rs
  crates/circuits/types/src/chunk/public_inputs.rs
  crates/prover/src/proof/mod.rs
  crates/prover/src/prover/mod.rs
  crates/prover/src/task/batch.rs
  crates/prover/src/task/bundle.rs
  crates/prover/src/task/chunk.rs
  crates/prover/src/task/mod.rs
Labels: crate-prover, crate-circuits
