Repository scroll-tech/zkvm-prover, pull requests merged in 2025-09, with the labels that each got.

#177 chore: upgrade openvm to v1.4
  Cargo.lock
  Cargo.toml
  Makefile
  build-guest.sh
  crates/build-guest/Cargo.toml
  crates/build-guest/src/main.rs
  crates/build-guest/src/verifier.rs
  crates/integration/Cargo.toml
  crates/integration/src/lib.rs
  crates/integration/tests/batch_circuit.rs
  crates/integration/tests/bundle_circuit.rs
  crates/integration/tests/chunk_circuit.rs
  crates/prover/Cargo.toml
  crates/prover/src/lib.rs
  crates/prover/src/prover/mod.rs
  crates/prover/src/setup.rs
  crates/prover/src/utils/mod.rs
  crates/prover/src/utils/vm.rs
  crates/verifier/src/verifier.rs
Labels: crate-prover, crate-verifier, crate-integration, crate-build-guest

#178 feat: add flamegraph
  Cargo.lock
  Cargo.toml
  crates/integration/Cargo.toml
  crates/integration/src/bin/chunk-benchmark.rs
Labels: crate-integration

#182 upgrade openvm; improve kzg witness
  Cargo.lock
  Cargo.toml
  crates/circuits/batch-circuit/batch_exe_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_commit.rs
  crates/circuits/chunk-circuit/.cargo/config.toml
  crates/circuits/chunk-circuit/chunk_exe_commit.rs
  crates/integration/src/bin/chunk-benchmark.rs
  crates/integration/src/testers/batch.rs
  crates/integration/src/utils/mod.rs
  crates/types/batch/Cargo.toml
  crates/types/batch/src/builder/mod.rs
  crates/types/batch/src/builder/v7.rs
  crates/types/batch/src/lib.rs
  crates/types/batch/src/witness.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-integration, crate-circuits
