Repository scroll-tech/zkvm-prover, pull requests merged in 2025-07, with the labels that each got.

#131 Feat/feynman
  Cargo.lock
  crates/circuits/batch-circuit/batch_exe_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_commit.rs
  crates/circuits/bundle-circuit/digest_1
  crates/circuits/chunk-circuit/chunk_exe_commit.rs
  crates/integration/Cargo.toml
  crates/integration/src/testers/batch.rs
  crates/integration/src/testers/bundle.rs
  crates/integration/src/testers/chunk.rs
  crates/integration/src/utils/mod.rs
  crates/integration/testdata/euclidv1/proofs/.gitignore
  crates/integration/testdata/euclidv1/proofs/README.md
  crates/integration/testdata/euclidv1/tasks/README.md
  crates/integration/testdata/euclidv1/tasks/batch-task.json
  crates/integration/testdata/euclidv1/witnesses/12508460.json
  crates/integration/testdata/euclidv1/witnesses/12508461.json
  crates/integration/testdata/euclidv1/witnesses/12508462.json
  crates/integration/testdata/euclidv1/witnesses/12508463.json
  crates/integration/testdata/euclidv2/proofs/.gitignore
  crates/integration/testdata/euclidv2/proofs/README.md
  crates/integration/testdata/euclidv2/tasks/README.md
  crates/integration/testdata/euclidv2/tasks/batch-task.json
  crates/integration/testdata/euclidv2/witnesses/1.json
  crates/integration/testdata/euclidv2/witnesses/2.json
  crates/integration/testdata/euclidv2/witnesses/3.json
  crates/integration/testdata/euclidv2/witnesses/4.json
  crates/integration/testdata/euclidv2/witnesses/5.json
  crates/integration/testdata/euclidv2/witnesses/6.json
  crates/integration/testdata/euclidv2/witnesses/7.json
  crates/integration/testdata/euclidv2/witnesses/8.json
  crates/integration/testdata/feynman/witnesses/16525000.json
  crates/integration/testdata/feynman/witnesses/16525001.json
  crates/integration/testdata/feynman/witnesses/16525002.json
  crates/integration/testdata/feynman/witnesses/16525003.json
  crates/integration/testdata/feynman/witnesses/16525004.json
  crates/integration/testdata/feynman/witnesses/16525005.json
  crates/integration/testdata/feynman/witnesses/16525006.json
  crates/integration/testdata/feynman/witnesses/16525007.json
  crates/integration/testdata/feynman/witnesses/16525008.json
  crates/integration/testdata/feynman/witnesses/16525009.json
  crates/integration/testdata/feynman/witnesses/16525010.json
  crates/integration/testdata/feynman/witnesses/16525011.json
  crates/integration/testdata/feynman/witnesses/16525012.json
  crates/integration/testdata/feynman/witnesses/16525013.json
  crates/integration/testdata/feynman/witnesses/16525014.json
  crates/integration/testdata/feynman/witnesses/16525015.json
  crates/integration/testdata/feynman/witnesses/16525016.json
  crates/integration/testdata/feynman/witnesses/16525017.json
  crates/integration/testdata/feynman/witnesses/16525018.json
  crates/integration/testdata/feynman/witnesses/16525019.json
  crates/integration/tests/batch_circuit.rs
  crates/integration/tests/bundle_circuit.rs
  crates/integration/tests/chunk_circuit.rs
  crates/types/chunk/src/execute.rs
  release.sh
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-integration, crate-circuits

#135 fix: ensure integration test path
  Cargo.lock
  Cargo.toml
  crates/integration/Cargo.toml
  crates/integration/src/lib.rs
  crates/integration/src/testers/batch.rs
  crates/integration/src/testers/bundle.rs
  crates/integration/src/testers/chunk.rs
Labels: crate-integration

#141 refactor build-guest
  .github/workflows/build-guest.yml
  Cargo.lock
  Cargo.toml
  crates/build-guest/src/main.rs
  crates/build-guest/src/verifier/asm_utils.rs
  crates/build-guest/src/verifier/asm_writer.rs
  crates/build-guest/src/verifier/io_converter.rs
  crates/build-guest/src/verifier/mod.rs
  crates/circuits/batch-circuit/Cargo.toml
  crates/circuits/batch-circuit/batch_exe_commit.rs
  crates/circuits/batch-circuit/src/child_commitments/chunk_exe_rv32_commit.rs
  crates/circuits/batch-circuit/src/child_commitments/mod.rs
  crates/circuits/batch-circuit/src/circuit.rs
  crates/circuits/bundle-circuit/Cargo.toml
  crates/circuits/bundle-circuit/bundle_exe_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_euclidv1_commit.rs
  crates/circuits/bundle-circuit/digest_1
  crates/circuits/bundle-circuit/digest_1_euclidv1
  crates/circuits/bundle-circuit/digest_2_euclidv1
  crates/circuits/bundle-circuit/src/circuit.rs
  crates/circuits/chunk-circuit/.cargo/config.toml
  crates/circuits/chunk-circuit/Cargo.toml
  crates/circuits/chunk-circuit/chunk_exe_commit.rs
  crates/circuits/chunk-circuit/chunk_exe_rv32_commit.rs
  crates/integration/src/testers/chunk.rs
  crates/integration/tests/bundle_circuit.rs
  crates/prover/src/commitments/bundle_exe_euclidv1_commit.rs
  crates/prover/src/commitments/chunk_exe_rv32_commit.rs
  crates/prover/src/commitments/mod.rs
  crates/prover/src/lib.rs
  crates/prover/src/prover/bundle.rs
  crates/prover/src/prover/chunk.rs
  crates/prover/src/prover/mod.rs
  crates/prover/src/task/batch.rs
  crates/prover/src/task/bundle.rs
  crates/types/circuit/src/lib.rs
  crates/verifier/src/commitments/bundle_exe_euclidv1_commit.rs
  crates/verifier/src/commitments/chunk_exe_rv32_commit.rs
  crates/verifier/src/commitments/mod.rs
  crates/verifier/src/verifier.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-prover, crate-verifier, crate-integration, crate-build-guest, crate-circuits, ci

#142 minor update of statedb
  crates/circuits/batch-circuit/batch_exe_commit.rs
  crates/circuits/bundle-circuit/bundle_exe_commit.rs
  crates/circuits/bundle-circuit/digest_1
  crates/circuits/chunk-circuit/chunk_exe_commit.rs
  crates/types/chunk/src/execute.rs
Labels: crate-chunk-circuit, crate-batch-circuit, crate-bundle-circuit, crate-circuits

#143 update guest stdin building for universal task
  crates/prover/src/task/mod.rs
Labels: crate-prover

#145 Fix batch header v
  crates/integration/src/utils/mod.rs
  crates/prover/src/task/batch.rs
Labels: crate-prover, crate-integration
